<ion-view title="Lenses">
	<ion-content has-header="true" has-tabs="true" padding="true">
	<div class="list">
		<div ng-repeat="lense in lenses" class="item">
			<!--<i class="icon ion-email"></i>-->
			<h3>{{lense.side}}</h3>
			<p>{{lense.schedule}}</p>
			<p>days skipped {{lense.daysSkipped}}</p>
			<p>{{lense.openedDate | date: 'medium'}}</p>
			<p>Expires: {{getExpiryDate(lense.id) | date: 'medium'}}</p>
			<button class="button button-positive" ng-click="openModal({{lense.id}})">
				Skip Day
			</button>
			<a class="button button-positive" href="#/tab/lense/{{lense.id}}">
				Edit
			</a>
		</div>
	</div>
	</ion-content>
</ion-view>

<!-- skip day modal -->
<script id="skip.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar title="Skip"></ion-header-bar>
    <ion-content has-header="true" padding="true">
			<div class="card">
				<div class="item item-text-wrap centered">
					<button class="button button-positive thin" ng-click="scrollDaysToSkip(-1)"><i class="ion-arrow-down-b"></i></button>
					<div class="box">{{daysToSkip}}</div>
					<button class="button button-positive thin" ng-click="scrollDaysToSkip(+1)"><i class="ion-arrow-up-b"></i></button>
					<div class="box">days</div>
					<button class="button button-positive button-full" ng-click="handleSkipOK()">OK!</button>
				</div>
			</div>
    </ion-content>
  </div>
</script>
