<ion-view title="Open New">
  <ion-content has-header="true" has-tabs="true" padding="true">	
		<form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
				</label>
				<label class="item centered">
					<button class="button button-positive">Month</button>
					<button class="button button-positive">Day</button>
					<button class="button button-positive">Year</button>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Side</span>
				</label>
				<label class="item item-radio">
					<input type="radio" name="side" ng-click="setSide('left')">
					<div class="item-content">Left</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<label class="item item-radio">
					<input type="radio" name="side" ng-click="setSide('right')">
					<div class="item-content">Right</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Schedule</span>
				</label>
				<label class="item centered">
					<button class="button button-positive" ng-click="addDays(-1)">-</button>
					<div class="box">{{newLense.schedule}}</div>
					<button class="button button-positive" ng-click="addDays(+1)">+</button>
					<div class="box">days</div>
				</label>
				<button type="submit" ng-click="saveLense()" class="button button-full button-positive">Done</button>
			</div>
		</form>
		{{newLense.openedDate | date: 'medium'}}
		{{newLense.side}}
  </ion-content>
</ion-view>
