<ion-view title="Open New">
  <ion-content has-header="true" has-tabs="true" padding="true">	
		<form>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Date</span>
				</label>
				<label class="item centered">
					<button ng-click="openModal()" class="button button-positive">{{newLense.openedDate | date: 'MMMM'}}</button>
					<button class="button button-positive">{{newLense.openedDate | date: 'dd'}}</button>
					<button class="button button-positive">{{newLense.openedDate | date: 'yyyy'}}</button>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Side</span>
				</label>
				<label class="item item-radio">
					<input type="radio" name="side" ng-click="setSide('left')">
					<div class="item-content">Left</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<label class="item item-radio">
					<input type="radio" name="side" ng-click="setSide('right')">
					<div class="item-content">Right</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Schedule</span>
				</label>
				<label class="item centered">
					<button class="button button-positive" ng-click="addDays(-1)">-</button>
					<div class="box">{{newLense.schedule}}</div>
					<button class="button button-positive" ng-click="addDays(+1)">+</button>
					<div class="box">days</div>
				</label>
				<button type="submit" ng-click="saveLense()" class="button button-full button-positive">Done</button>
			</div>
		</form>
		{{newLense.openedDate | date: 'medium'}}
		{{newLense.side}}
  </ion-content>
</ion-view>

<!--
The template can be placed on the current page by using Angular's script template
loading, or loaded from a separate or external HTML file accessible by URL.

Here we are using the script tag method of defining an Angular template.
-->
<script id="modal.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-positive">
      <h1 class="title">Month</h1>
      <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
    </header>
    <ion-content has-header="true" padding="true">
      <div class="list">
				<label class="item item-radio" ng-repeat="month in months">
					<input type="radio" name="side" ng-click="pickMonth('{{$index}}')">
					<div class="item-content">{{month}}</div>
					<i class="radio-icon ion-checkmark"></i>
				</label>
				<button class="button button-full button-positive" ng-click="closeModal()">Cancel</button>
      </div>
    </ion-content>
  </div>
</script>

