<ion-view title="Settings">
  <ion-content has-header="true" has-tabs="true" padding="true">

	<div class="list">
		<div class="item item-toggle">
			<label class="input-label">
				Notifications
			</label>
			<label class="toggle">
				<input type="checkbox" ng-model="pushNotification.checked" ng-change="pushNotificationChange()">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</div>
		<div class="item">
			<button class="button button-positive thin" ng-click="scrollDate(-1)"><i class="ion-arrow-down-b"></i></button>
			<div class="box">{{newLense.openedDate | date: 'dd'}}</div>
			<button class="button button-positive thin" ng-click="scrollDate(+1)"><i class="ion-arrow-up-b"></i></button>
		</div>
	</div>

		<p>
			Testing Buttons
		</p>
		<button class="button button-positive" ng-click="listAllScheduled()">
			List all notifcations
		</button>
		<button class="button button-positive" ng-click="cancelAllNotifications()">
			Cancel all Notifications
		</button>
  </ion-content>
</ion-view>
