
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

  <ion-tab title="Lenses" icon="icon ion-eye" href="#/tab/lenses">
	<ion-nav-view name="lenses-tab"></ion-nav-view>
	</ion-tab>

  <ion-tab title="New" icon="icon ion-plus-circled" href="#/tab/new">
    <ion-nav-view name="new-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-ios7-cog" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

