.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.button {
  padding: 0px 10px 0 10px;
}

.box {
	color: #444;
  border-color: #b2b2b2;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 1px 10px 0 10px;
  min-width: 40px;
  min-height: 47px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px;
}

.centered {
	text-align: center;
}

.thin {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 18px;
  min-height: 47px;
}

.borderless {
  border-width: 0;
	padding: 10px;
	margin: 2px;
}

.bordered {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
	padding: 5px;
}

.item-half {
	max-width: 50%;
	height: 250px;
}

.item-right {
	float: right;
}

.item-left {
	float: left;
}
